<h2>Nuevo Pokemon</h2>
<form  name="pokemonForm" ng-submit="$ctrl.savePokemon($ctrl.pokemon,pokemonForm)" novalidate>
    <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" ng-model="$ctrl.pokemon.name"
               ng-minlength="2" ng-maxlength="30" required>
    </div>
    <div class="form-group">
        <label for="desc">Descripción:</label>
        <textarea type="text" class="form-control" id="desc"  ng-model="$ctrl.pokemon.description"
                  ng-minlength="30" required></textarea>
    </div>
    <div class="form-group">
        <label for="evolution">Evolución:</label>
        <input type="text" class="form-control" id="evolution"  ng-model="$ctrl.pokemon.evolution">
    </div>

    <div class="form-group">
        <label for="type1">Tipo 1:</label>
        <select class="form-control" id="type1" ng-model="$ctrl.type1" required>
            <option value="">Selecciona un tipo</option>
            <option ng-repeat="type in $ctrl.types" value="{{type._links.type.href}}">
                {{type.name}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="type2">Tipo 2:</label>
        <select class="form-control" id="type2"  ng-model="$ctrl.type2">
            <option value="">Selecciona un tipo</option>
            <option ng-repeat="type in $ctrl.types" value="{{type._links.type.href}}">
                {{type.name}}
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-default" ng-disabled="pokemonForm.$invalid">Añadir</button>
    <a href="/#/home" type="button" class="btn btn-default">Volver</a>
</form>
<div class="alert alert-success message" role="alert" ng-if="$ctrl.added">
  <a class="close" ng-click="$ctrl.hideMessage()">&times;</a>
  <p>El pokemon se ha añadido correctamente</p>
</div>